$body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
  Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

$vars: (
  accent-color: #4353ff,
  accent-color-10: #4353ff1a,
  accent-color-20: #4353ff33,
  accent-color-30: #4353ff4d,
  accent-color-40: #4353ff66,
  accent-color-50: #4353ff80,
  body-font: $body-font,
  body-color: #51595f,
  muted-color: #999
);
